#nameInput {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
#nameInput input {
  background: rgba(255, 255, 255, 0);
  margin-left: 5px;
  width: 150px;
  height: 40px;
  border:solid 2px black;
  padding-left: 10px;
  font-size: 1.4em;
}

input[type="radio"]:checked+label div {
  transform: scale(1.1);
  box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.7);
}

.classList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
}

.classImage {
  display: inline-block;
  position: relative;
  width: 200px;
  min-width: 200px;
  height: 200px;
  border-radius: 30%;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

.classImage-profile-img {
  height: 100%;
}

.hidden {
  display: none;
}

.Showcase {
  max-width: 800px;
  margin: auto
}

.skillsContainer .skill,.classProficiencies,.startingGear {
  text-align:left;
  margin: 5px;
  padding: 15px;
}

.skill h4, .classProficiencies h4,.startingGear h4 {
  border-bottom: solid 1px black;
}

.skillsContainer p ,.skillsContainer li{
  font-size: 0.8em;
}